* {
  box-sizing: border-box;
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  font-family: "Noto Sans", sans-serif;
  word-break: keep-all;
  scroll-behavior: smooth;
}

body {
  position: relative;
  overflow-x: hidden;
  background: linear-gradient(#fff, #6b799e);
}

body::-webkit-scrollbar {
  border-radius: 64px;
  width: 5px;
}

body:hover::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-thumb {
  background-color: #6b799e;
  border-radius: 64px;
}

body::-webkit-scrollbar-track {
  background-color: #8a8a8a;
  border-radius: 64px;
}

ul,
ol,
li {
  list-style-type: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

button,
input,
textarea {
  background-color: inherit;
  border: none;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
  outline: none;
  box-shadow: none;
}

/* intoro */

@keyframes intro-appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes intro-disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes intro-p-appear {
  0% {
    opacity: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  100% {
    opacity: 1;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.intro {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1600px;
  height: 100vh;
  text-align: center;
  background-color: #fca70a;
  overflow: hidden;
  animation-name: intro-disappear;
  animation-duration: 1s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: relative;
  transition: all 0.2s ease;
}

.box p {
  color: #777;
  font-weight: 400;
  font-size: 20px;
  width: 40%;
  height: 25px;
  text-align: center;
  background-color: #fff;
  opacity: 0;
  transition: all 0.2s ease;
  animation-name: intro-p-appear;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}

.clock {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 60px;
  border: 3px solid #fff;
}

.clock:after {
  content: "";
  position: absolute;
  background-color: #fff;
  top: 2px;
  left: 48%;
  height: 38px;
  width: 4px;
  border-radius: 5px;
  -webkit-transform-origin: 50% 97%;
  transform-origin: 50% 97%;
  -webkit-animation: grdAiguille 2s linear infinite;
  animation: grdAiguille 2s linear infinite;
}

@-webkit-keyframes grdAiguille {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes grdAiguille {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.clock:before {
  content: "";
  position: absolute;
  background-color: #fff;
  top: 6px;
  left: 48%;
  height: 35px;
  width: 4px;
  border-radius: 5px;
  -webkit-transform-origin: 50% 94%;
  transform-origin: 50% 94%;
  -webkit-animation: ptAiguille 12s linear infinite;
  animation: ptAiguille 12s linear infinite;
}

@-webkit-keyframes ptAiguille {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes ptAiguille {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.main-wraper {
  position: relative;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  opacity: 0;
  animation-name: intro-appear;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

.hamberger {
  display: none;
}

/* header */

.header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1600px;
  color: #ccbac4;
  background-color: #6b799e;
  transition: all 1s ease;
  z-index: 4;
  margin: 0 auto;
}

.header.active {
  background-color: rgba(107, 121, 158, 0.5);
  color: #fff;
  transition: all 1s ease;
}

.UpToHeader {
  padding: 20px;
  margin: 10px 30px;
  transition: all 1s ease;
}

.UpToHeader.active {
  background-color: #6b799e;
  border-radius: 64px;
  transition: all 1s ease;
}

@keyframes up {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.UpToHeader:hover {
  animation-name: up;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.UpToHeader-notice-i {
  position: relative;
}

.UpToHeader-notice-i i {
  position: absolute;
  right: 3px;
  bottom: -20px;
  animation-name: up;
  animation-duration: 1.2s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

.menu-list {
  display: flex;
  align-items: center;
}

.menu-list-item {
  margin: 0 10px;
  border-radius: 64px;
}

.menu-list-item:hover {
  background-color: #6b799e;
}

.menu-list-item button {
  padding: 20px;
  border-radius: 64px;
}

/* section-notice */

.section-notice {
  position: fixed;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  color: #fca70a;
  font-weight: 700;
  z-index: 5;
}

.section-notice span {
  position: absolute;
  top: 12.5vh;
  right: 20px;
  font-size: 1.5rem;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transition: all 1s ease;
}

/* self-introduction */

.self-introduction {
  position: sticky;
  top: 0;
  width: 100%;
  height: 740px;
  padding: 140px 0;
}

.self-introduction-box {
  width: 90%;
  height: 100%;
  border-radius: 64px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  background-color: rgb(245, 245, 245);
  border: 1px solid #fca70a;
}

.section-nav-tablet {
  width: 100%;
  color: #fca70a;
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: 15px;
  display: none;
}

.self-introduction img {
  width: 40%;
  max-width: 450px;
  border-radius: 64px;
  object-fit: cover;
}

.paragraph {
  width: 60%;
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  padding-left: 30px;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  from {
    border-color: transparent;
  }
  to {
    border-color: #fca70a;
  }
}

@keyframes division {
  0% {
    width: 0;
  }
  100% {
    width: 60%;
  }
}

.typing {
  width: fit-content;
}

.typing p {
  width: 0;
  font-size: 2rem;
  display: inline-block;
  overflow: hidden;
  border-right: 5px;
  border-right: 5px solid #fca70a;
  white-space: nowrap;
  animation: typing 1s steps(15, end) forwards, blink 0.8s infinite;
  animation-delay: 3s;
}

.paragraph-title {
  width: 100%;
  font-size: 3rem;
}

.paragraph-division {
  width: 0;
  height: 10px;
  background-color: #fca70a;
  border-top-right-radius: 64px;
  border-bottom-right-radius: 64px;
  animation-name: division;
  animation-duration: 2s;
  animation-delay: 4s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  margin: 15px 0;
}

.paragraph-list {
  display: flex;
  margin-bottom: 15px;
}

.paragraph-list-item {
  font-size: 0.8rem;
  width: 40%;
}
.paragraph-list-item:nth-child(2) {
  width: 60%;
  padding-left: 10px;
}

.paragraph-list-item h1 {
  font-size: 1.2rem;
}

.paragraph-desc {
  width: 100%;
  margin-top: 15px;
  font-size: 1.2rem;
}

/* skill */

.skill {
  position: sticky;
  top: 0;
  width: 100%;
  height: 740px;
  padding: 140px 0;
}

.skill-box {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  border-radius: 64px;
  padding: 30px;
  background-color: rgb(245, 245, 245);
  border: 1px solid #fca70a;
}

.skill-title {
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 15px;
}

.skill-list {
  display: flex;
  width: 100%;
  height: auto;
}

.skill-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  line-height: 2;
  text-align: left;
}

.skill-list-item-title {
  font-size: 1.5rem;
  transition: all 1s ease;
  overflow: hidden;
}

.skill-list-item-title p {
  position: relative;
  width: fit-content;
  white-space: nowrap;
}

.skill-list-item-title.active {
  opacity: 1;
}

.skill-list-item-img {
  height: 80px;
  margin-bottom: 40px;
}

.skill-list-item-desc {
  font-size: 0.8rem;
  text-align: center;
}

.highlight {
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 0;
  height: 5px;
  background-color: rgba(252, 167, 10, 0.4);
  transition: all 500ms ease;
}

.skill-list-item:hover .highlight {
  width: 100%;
}

/* banner */

.banner {
  position: sticky;
  top: 0;
  width: 100%;
  height: 740px;
  padding: 140px 0;
  display: flex;
  flex-direction: column;
  color: #111;
}

.banner-box {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100%;
  border-radius: 64px;
  background-color: rgb(245, 245, 245);
  border: 1px solid #fca70a;
  margin: 0 auto;
  padding: 30px;
}

.appeal {
  width: 100%;
  color: #111;
}

.appeal-title {
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 15px;
}

.banner-main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-paragraph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 0 10px;
}

.banner-title {
  font-size: 2rem;
  margin-bottom: 10px;
}

.banner-title .fa-play-circle {
  color: rgb(63, 150, 114);
}

.banner-desc {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 20px;
}

.banner-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  background-color: #fca70a;
  border-radius: 64px;
  padding: 10px 20px;
}

.banner-link .fa-compact-disc {
  font-size: 1.5rem;
  transition: all 250ms ease-in-out;
  margin-right: 5px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.banner-link:hover .fa-compact-disc {
  animation-name: rotate;
  animation-duration: 250ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.banner-manual {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(./assets/banner-meno.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-manual-list {
  position: relative;
  width: 100%;
  font-size: 1rem;
  line-height: 2;
  padding: 10px 30px 30px;
  text-align: center;
  white-space: nowrap;
}

.banner-manual-title {
  font-weight: 700;
  text-align: center;
}

/* play-bt-alert */

.play-bt-alert {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 1600px;
  height: 100%;
  margin: 0 auto;
  color: #111;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
}

.play-bt-alert-back {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-bt-alert-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  background-color: rgb(245, 245, 245);
  color: #111;
  border-radius: 24px;
}

.play-bt-alert-desc p {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.play-bt-alert-desc-close {
  padding: 10px 30px;
  background-color: #fca70a;
  border-radius: 24px;
}

/* player */

.player {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 1600px;
  height: 100%;
  margin: 0 auto;
  color: #111;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
}

.player-main {
  position: relative;
  display: flex;
  width: 1100px;
  height: 700px;
  background-color: #fffdf8;
  border-radius: 16px;
  border: 1px solid #fca70a;
  margin: 10px auto;
}

.player-ani-box {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.5rem;
  z-index: 1;
  color: #fca70a;
  background-color: #fffaee;
  border-radius: 64px;
  padding: 0 10px;
}

.player-ani-box span:nth-child(1) {
  animation-delay: 0.1s;
  animation-name: player-ani;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.player-ani-box span:nth-child(2) {
  animation-delay: 0.2s;
  animation-name: player-ani;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.player-ani-box span:nth-child(3) {
  animation-delay: 0.3s;
  animation-name: player-ani;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.player-ani-box span:nth-child(4) {
  animation-delay: 0.4s;
  animation-name: player-ani;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.player-ani-box span:nth-child(5) {
  animation-delay: 0.5s;
  animation-name: player-ani;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.player-ani-box span:nth-child(6) {
  animation-delay: 0.6s;
  animation-name: player-ani;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.player-ani-box span:nth-child(7) {
  animation-delay: 0.7s;
  animation-name: player-ani;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.player-ani-box span:nth-child(8) {
  animation-delay: 0.8s;
  animation-name: player-ani;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.player-ani-box span:nth-child(9) {
  animation-delay: 0.9s;
  animation-name: player-ani;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.player-ani-box span:nth-child(10) {
  animation-delay: 1s;
  animation-name: player-ani;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.player-ani-box span:nth-child(11) {
  animation-delay: 1.1s;
  animation-name: player-ani;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.player-ani-box span:nth-child(12) {
  animation-delay: 1.2s;
  animation-name: player-ani;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.player-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 40px;
  border-radius: 16px;
  color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.player-alert-box {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.player-alert {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 500px;
  height: 150px;
  background-color: #fffdf8;
  border-radius: 16px;
}
.player-alert p {
  margin-bottom: 20px;
}

.player-alert-close {
  padding: 10px 30px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 16px;
}

.player-slide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width:50%;
  min-width: 580px;
  padding: 80px 20px 40px 40px;
}

.player-slide-box {
  width: 100%;
  height: 55%;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  overflow: hidden;
}

.slide-img-box {
  width: 400%;
  height: 100%;
  border-radius: 16px;
  transform: translateX(0);
  transition: transform 250ms ease;
}

.slide-img-box img {
  float: left;
  width: 25%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.player-operater {
  width: 580 px;
  min-width: 580 px;
  background-color: #fffaee;
  border-radius: 24px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding: 20px 30px;
}

.operater-icon-list {
  width: 100%;
  display: column;
}

.operater-icon-list-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.operater-icon-list-box li {
  padding: 5px;
  border: 1px solid #fddd93;
  border-radius: 50%;
}

.operater-icon-list-box li button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.operater-icon-list-box li:active {
  transform: scale(0.95);
}

.operater-icon-list-play {
  width: 100px;
  height: 100px;
  background: #fffdf8;
  color: #f26600;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.operater-icon-list-play i {
  font-size: 30px;
  transform: translateX(3px);
}

.operater-icon-list-side {
  width: 60px;
  height: 60px;
  background-color: #ffeedb;
}

.operater-icon-list-side i {
  font-size: 22px;
  color: #838383;
}

li.operater-icon-list-end {
  border: none;
}

li.operater-icon-list-end i {
  font-size: 16px;
  color: #838383;
}

.operater-icon-list-desc-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.operater-icon-list-desc-box li:nth-child(3) {
  padding: 0 30px;
}

.player-operater-state {
  width: 100%;
  height: 20px;
  background: #fff8ed;
  box-shadow: #fdcd5b 0px 30px 60px -12px inset,
    #ff6c01 0px 18px 36px -18px inset;
  border-radius: 64px;
  margin-bottom: 10px;
}

.player-operater-state-bar {
  width: 90px;
  height: 20px;
  background: linear-gradient(to right, #fdcd5b, #ff6c01);
  border-radius: 64px;
  transition: width 1s ease;
}

.player-operater-time {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.player-desc-slide {
  height: 100%;
  padding: 80px 40px 40px 20px;
}

.player-desc-box {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide-desc-box {
  width: 400%;
  height: 100%;
  transform: translateX(0);
}


.slide-desc-lsit {
  display: flex;
  flex-direction: column;
  float: left;
  width: 25%;
  height: 100%;
}

.slide-desc-lsit-desc {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2;
  color: #fff;
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 24px;
}

.slide-desc-lsit-desc p {
  padding: 10px;
  background-color: #fffdf8;
  color: #111;
  border-radius: 24px;
  font-size: 0.8rem;
}

.slide-desc-lsit-title {
  font-size: 2rem;
  margin-bottom: 30px;
  text-align: center;
}

/* footer */

footer {
  position: sticky;
  top: 0;
  width: 100%;
  height: 740px;
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  padding: 140px 0;
  margin-bottom: 20px;;
}

.footer-box {
  width: 90%;
  height: 100%;
  border-radius: 64px;
  margin: 0 auto;
  background-color: rgb(245, 245, 245);
  border: 1px solid #fca70a;
  color: #111;
  padding: 30px;
}

.footer-title {
  width: 100%;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 15px;
}

.footer-info {
  width: 100%;
}

.footer-info-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.footer-info-list-item {
  width: 25%;
}

.footer-info-list-item .fib {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  line-height: 2;
}

.footer-info-list-item-hover-1:hover > .icon {
  color: rgb(245, 229, 89);
  border: 1px solid rgb(138, 126, 19);
}

.footer-info-list-item-hover-2:hover > .icon {
  color: rgb(163, 163, 163);
  border: 1px solid rgb(88, 88, 88);
}

.footer-info-list-item-hover-3:hover > .icon {
  color: rgb(21, 223, 48);
  border: 1px solid rgb(16, 141, 32);
}

.footer-info-list-item-hover-4:hover > .icon {
  color: rgb(0, 140, 255);
  border: 1px solid rgb(3, 85, 153);
}

.footer-info-list-item h1 {
  font-size: 1.5rem;
  font-weight: 700;
}

.footer-info-list-item .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 130px;
  font-size: 6rem;
  padding: 10px;
  border-radius: 50%;
  border: 1px solid #111;
  margin-bottom: 15px;
  transition: all 250ms ease;
}

.footer-info-list-item p {
  font-size: 0.8rem;
  text-align: center;
}

.footer-ft {
  text-align: center;
}

.footer-ft span {
  font-size: 1.2rem;
  margin-top: 20px;
  line-height: 3;
  color: #fca70a;
}

.page-desc {
  width: 100%;
  position: absolute;
  bottom: 30px;
  font-size: 0.8rem;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  
/* self-introduction */


.self-introduction img {
  width: 35%;
}

.paragraph {
  width: 65%;
}

.paragraph-division {
  display: none;
}

.typing p {
  font-size: 2rem;
}

.paragraph-title {
  font-size: 3rem;
}

.paragraph-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.paragraph-list-item {
  width: 100%;
  margin-bottom: 15px;
}
.paragraph-list-item:nth-child(2) {
  width: 100%;
  padding-left: 0;
}

.paragraph-desc {
  margin-top: 0;
  font-size: 1rem;
  font-weight: 700;
}


/* skill */

.skill-list-item-title {
  font-size: 1.2rem;
}


.skill-list-item {
  line-height: 2;
}


.skill-list-item-desc {
  font-size: 0.7rem;
}


/* banner */


.banner-desc {
  font-size: 0.8rem;
}

.banner-manual-list {
  font-size: 0.8rem;
  padding: 10px 0 30px;
  white-space:normal;
}

.banner-manual-title {
  font-size: 1rem;
}

/* footer */

.footer-info-list-item h1 {
  font-size: 1.2rem;
}


.footer-info-list-item p {
  font-size: 0.8rem;
}

.footer-ft span {
  font-size: 1rem;
}

.page-desc {
  font-size: 0.8rem;
}
}

@media screen and (max-width:1000px) {


/* footer */

.footer-info-list-item p {
  font-size: 0.5rem;
}

}

@media  screen and (max-width:768px) {
.menu-list-item {
  display: none;
}

.UpToHeader {
  order: 2;
}
  
.hamberger {
  display: block;
  position: relative;
}

.hamberger-list {
  position: absolute;
  top: 71.5px;
  left: -10px;
  padding: 0 10px;
  background-color: #6b799e;
  display: none;
  text-align: center;
}

.hamberger-list button {
  width: 100%;
}

.hamberger-list button:hover {
  color: #fca70a;
}

.hamberger-list.active {
  background-color: rgba(107, 121, 158, 0.5);
}

.section-notice {
  display: none;
}

/* self-introduction */

.self-introduction {
  position: relative;
  width: 100%;
  height: auto;
  padding: 140px 0 70px;
  border: 2px solid #6b799e;
}

.self-introduction-box {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 0;
  background-color: inherit;
  border: 0;
}

.section-nav-tablet {
  display: block;
}

.self-introduction img {
  width: 50%;
  max-width: 450px;
  margin: 0 auto;
}

.paragraph {
  width: 100%;
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  padding-left: 0;
  text-align: center;
}

.typing {
  margin: 0 auto;
}

.paragraph-title {
  width: 100%;
  font-size: 2rem;
}

.paragraph-list {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}

.paragraph-list-item {
  font-size: 0.8rem;
  width: 40%;
}
.paragraph-list-item:nth-child(2) {
  width: 60%;
  padding-left: 10px;
}

.paragraph-list-item h1 {
  font-size: 1.2rem;
}

.paragraph-desc {
  margin-top: 0;
  font-size: 1rem;
}


/* skill */

.skill {
  position: relative;
  height: auto;
  padding: 70px 0;
  border: 2px solid #6b799e;
}

.skill-box {
  width: 100%;
  padding: 0;
  background-color: inherit;
  border: 0;
}

.skill-title {
  margin-bottom: 15px;
}

.skill-list {
  display: block;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.skill-list-item {
  float: left;
  width: 50%;
}

.skill-list-item-title p {
  position: relative;
}


.skill-list-item-img {
  height: 100px;
  margin: 0 auto 10px;
  padding: 10px;
}

.skill-list-item-desc {
  margin-bottom: 15px;
}

/* banner */

.banner {
  position: relative;
  width: 100%;
  height: auto;
  padding: 70px 0;
  border: 2px solid #6b799e;
}

.banner-box {
  width: 100%;
  height: 100%;
  background-color: inherit;
  border: 0;
  margin: 0 auto;
  padding: 0;
}

.banner-main {
  flex-direction: column;
}

.banner-paragraph {
  width: 100%;
  padding: 0;
  margin-bottom: 15px;
}



.banner-manual {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: contain;
  padding: 30px;
}


/* footer */

footer {
  position: relative;
  width: 100%;
  height: auto;
  padding: 70px 0 0;
  border: 2px solid #6b799e;
}

.footer-box {
  width: 100%;
  background-color: inherit;
  border: 0;
  padding: 0;
}

.footer-info-list {
  display: block;
  margin-bottom: 30px;
  overflow: hidden;
}
.footer-info-list-item {
  width: 50%;
  float: left;
}

.footer-ft {
  font-size: 0.8rem;
}

.footer-ft span {
  font-size: 0.8rem;
}

.page-desc {
  width: 100%;
  position: relative;
  bottom: 0;
  font-size: 0.8rem;
  text-align: center;
  margin-bottom: 15px;
}

}

@media  screen and (max-width:576px) {
  .paragraph-list {
    display: none;
  }

  .paragraph-desc {
    margin-top: 15px;
    font-size: 0.7rem;
    font-weight: 400;
  }

.banner-manual {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-position-x: top;
  background-size: cover;
  padding:50px;
}
}