* {
  box-sizing: border-box;
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  font-family: "Noto Sans", sans-serif;
  word-break: keep-all;
}

body {
  position: relative;
  background-color: #bcdae7;
}

body::-webkit-scrollbar {
  border-radius: 64px;
  width: 5px;
}

body:hover::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-thumb {
  background-color: #6b799e;
  border-radius: 64px;
}

body::-webkit-scrollbar-track {
  background-color: #8a8a8a;
  border-radius: 64px;
}

ul,
ol,
li {
  list-style-type: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

button,
input,
textarea {
  background-color: inherit;
  border: none;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
  outline: none;
  box-shadow: none;
}

/* intro */

@keyframes intro {
  0% {
    opacity: 1;
    z-index: 10;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes jump {
  0% {
    margin-bottom: 0;
  }
  50% {
    margin-bottom: 30px;
  }
  60% {
    margin-bottom: 0;
  }
  80% {
    margin-bottom: 20px;
  }
  100% {
    margin-bottom: 0;
  }
}

.intro-wraper {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: #fff;
  opacity: 1;
  animation-name: intro;
  animation-delay: 6s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.intro {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 1900px;
  margin: 0 auto;
  overflow: hidden;
}

.bgv {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.hello {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
}

.hello-paragraph-list {
  animation-name: disappear;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.hello-paragraph-list-item {
  font-size: 2rem;
  text-align: center;
  animation-name: jump;
  animation-duration: 1s;
}

.items {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}

.items-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  animation-name: disappear;
  animation-delay: 4.5s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.items-list-item {
  display: inline-block;
  width: 300px;
  text-align: center;
  opacity: 0;
  animation-name: appear;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.items-list-item:nth-child(1) {
  animation-delay: 2s;
}

.items-list-item:nth-child(2) {
  animation-delay: 2.5s;
}

.items-list-item:nth-child(3) {
  animation-delay: 3s;
}

.items-list-item .fas {
  font-size: 50px;
  margin-bottom: 20px;
  color: rgb(255, 0, 0);
}

.items-list-item h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

.Chrome {
  position: absolute;
  top: 80vh;
  width: 100%;
  font-size: 0.7rem;
  color: #fff;
  text-align: center;
}

.main-wraper {
  position: relative;
  width: 100%;
  max-width: 1900px;
  height: 100%;
  margin: 0 auto;
}

/* header */

.header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1900px;
  color: #ccbac4;
  background-color: #6b799e;
  transition: all 1s ease;
}

.header.active {
  background-color: rgba(107, 121, 158, 0.5);
  color: #fff;
  transition: all 1s ease;
}

.UpToHeader {
  padding: 20px;
  margin: 10px 30px;
  transition: all 1s ease;
}

.UpToHeader.active {
  background-color: #6b799e;
  border-radius: 64px;
  transition: all 1s ease;
}

.menu-list {
  display: flex;
  align-items: center;
}

.menu-list-item {
  padding: 0 15px;
}

/* section-notice */

.section-notice {
  position: fixed;
  width: 100%;
  max-width: 1900px;
  margin: 0 auto;
  color: #fca70a;
  font-weight: 700;
}

.section-notice span {
  position: absolute;
  top: 12.5vh;
  right: 20px;
  font-size: 1.5rem;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transition: all 1s ease;
}

/* self-introduction */

.self-introduction {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 180px 30px 30px;
}

.self-introduction img {
  width: 40%;
  border-radius: 16px;
  object-fit: cover;
}

.paragraph {
  width: 60%;
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  padding: 0 80px;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  from {
    border-color: transparent;
  }
  to {
    border-color: #fca70a;
  }
}

.typing {
  width: fit-content;
}

.typing p {
  width: 0;
  font-size: 4rem;
  display: inline-block;
  overflow: hidden;
  border-right: 5px;
  border-right: 5px solid #fca70a;
  white-space: nowrap;
  animation: typing 1s steps(15, end) forwards, blink 0.8s infinite;
}

.paragraph-title {
  width: 100%;
  font-size: 5rem;
}

@keyframes division {
  0% {
    widht: 0;
  }
  100% {
    width: 80%;
  }
}

.paragraph-division {
  width: 0;
  height: 10px;
  background-color: #fff;
  border-top-right-radius: 64px;
  border-bottom-right-radius: 64px;
  animation-name: division;
  animation-duration: 2s;
  animation-delay: 7s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  margin: 30px 0;
}

.paragraph-desc {
  width: 100%;
  font-size: 2rem;
}

/* skill */

.skill {
  width: 100%;
  padding: 30px;
}

.skill-title {
  margin-bottom: 15px;
}

.skill-list {
  width: 100%;
  height: auto;
}

.skill-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  line-height: 1.5;
  margin-bottom: 50px;
}

.skill-list-item-title {
  width: 40%;
  font-size: 3rem;
  padding: 10px 0 10px 60px;
  opacity: 0;
  transition: all 1s ease;
  overflow: hidden;
}

.skill-list-item-title p {
  position: relative;
  width: fit-content;
  white-space: nowrap;
}

.skill-list-item-title.active {
  padding: 10px 0 10px 10px;
  opacity: 1;
}

.skill-list-item-desc {
  width: 60%;
  padding: 0 80px;
  font-size: 1rem;
}

.highlight {
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 0;
  height: 15px;
  background-color: rgba(252, 167, 10, 0.4);
  transition: all 500ms ease;
}

.skill-list-item:hover .highlight {
  width: 100%;
}

/* banner */

.banner {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1900px;
  padding: 30px;
  margin: 0 auto;
  color: #111;
}

.appeal {
  width: 100%;
  color: #111;
}

.banner-header-img {
  width: 100%;
  height: 200px;
  background-image: url(./assets/banner-header-img-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.banner-main {
  width: 100%;
  height: 100%;
  display: flex;
  padding-top: 30px;
}

.banner-manual {
  width: 40%;
}

.banner-manual-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  font-size: 1rem;
}

.banner-paragraph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 100%;
  padding: 0 80px;
}

.banner-title {
  font-size: 60px;
  margin-bottom: 30px;
}

.banner-title .fa-play-circle {
  color: rgb(63, 150, 114);
  margin-right: 10px;
}

.banner-desc {
  font-size: 16px;
  margin-bottom: 20px;
}

.banner-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 15px 30px;
  background-color: #fca70a;
  border-radius: 8px;
}

.banner-link .fa-compact-disc {
  font-size: 1.5rem;
  margin-right: 15px;
  transition: all 250ms ease-in-out;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.banner-link:hover .fa-compact-disc {
  animation-name: rotate;
  animation-duration: 250ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

/* player */

.player {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 1900px;
  height: 100%;
  margin: 0 auto;
  color: #111;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
  padding: 10px 30px;
}

.player-main {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 1440px;
  height: 670px;
  background-image: url(./assets/player-back-img.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  margin: 0 auto;
  border-radius: 16px;
}

.player-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 40px;
  border-radius: 16px;
}

.player-slide {
  position: relative;
  width: 580px;
  min-width: 580px;
  height: 410px;
  padding: 10px 80px;
}

.player-slide-box {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  overflow: hidden;
}

.slide-img-box {
  width: 400%;
  height: 100%;
  border-radius: 16px;
  transform: translateX(0);
  transition: transform 250ms ease;
}

.slide-img-box img {
  float: left;
  width: 25%;
  height: 100%;
  object-fit: contain;
  border-radius: 16px;
}

.player-operater {
  width: 580 px;
  min-width: 580 px;
  background-color: #fffaee;
  border-radius: 24px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding: 20px 30px;
  margin-top: 10px;
}

.operater-icon-list {
  width: 100%;
  display: column;
}

.operater-icon-list-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.operater-icon-list-box li {
  padding: 5px;
  border: 1px solid #fddd93;
  border-radius: 50%;
}

.operater-icon-list-box li button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.operater-icon-list-play {
  width: 100px;
  height: 100px;
  background: #fffdf8;
  color: #f26600;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.operater-icon-list-play i {
  font-size: 30px;
  transform: translateX(3px);
}

.operater-icon-list-side {
  width: 60px;
  height: 60px;
  background-color: #ffeedb;
}

.operater-icon-list-side i {
  font-size: 22px;
  color: #838383;
}

li.operater-icon-list-end {
  border: none;
}

li.operater-icon-list-end i {
  font-size: 16px;
  color: #838383;
}

.operater-icon-list-desc-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.operater-icon-list-desc-box li:nth-child(3) {
  padding: 0 30px;
}

.player-operater-state {
  width: 100%;
  height: 20px;
  background: #fff8ed;
  box-shadow: #fdcd5b 0px 30px 60px -12px inset,
    #ff6c01 0px 18px 36px -18px inset;
  border-radius: 64px;
  margin-bottom: 10px;
}

.player-operater-state-bar {
  width: 90px;
  height: 20px;
  background: linear-gradient(to right, #fdcd5b, #ff6c01);
  border-radius: 64px;
  transition: width 1s ease;
}

.player-operater-time {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.player-desc-slide {
  height: 100%;
  padding: 30px 50px;
}

.player-desc-box {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide-desc-box {
  width: 400%;
  height: 100%;
  transform: translateX(0);
}

.slide-desc-lsit {
  display: flex;
  flex-direction: column;
  float: left;
  width: 25%;
  height: 100%;
}

.slide-desc-lsit-desc {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 525px;
  font-size: 20px;
  font-weight: 400;
  line-height: 2;
  color: #fff;
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 24px;
}

.slide-desc-lsit-title {
  font-size: 60px;
  margin-bottom: 30px;
  padding: 0 50px;
}

.slide-desc-lsit-desc .detail-info-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50px;
  bottom: 50px;
  width: 200px;
  appearance: button;
  background-color: transparent;
  background-image: linear-gradient(to bottom, #fff, #f8eedb);
  border: 0 solid #e5e7eb;
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #482307;
  column-gap: 1rem;
  cursor: pointer;
  font-size: 100%;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  outline: 2px solid transparent;
  padding: 1rem 1.5rem;
  text-align: center;
  text-transform: none;
  transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.detail-info-button:active {
  background-color: #f3f4f6;
  box-shadow: -1px 2px 5px rgba(81, 41, 10, 0.15),
    0px 1px 1px rgba(81, 41, 10, 0.15);
  transform: translateY(0.125rem);
}

.detail-info-button:focus {
  box-shadow: rgba(72, 35, 7, 0.46) 0 0 0 4px,
    -6px 8px 10px rgba(81, 41, 10, 0.1), 0px 2px 2px rgba(81, 41, 10, 0.2);
}

/* footer */

footer {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1900px;
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  padding: 60px;
  margin: 0 auto;

  background-color: rgba(107, 121, 158, 0.5);
}

.footer-title {
  width: 50%;
  text-align: center;
}

.footer-info {
  width: 50%;
}

.footer-info-paragraph {
  width: 250px;
  margin: 0 auto;
}
