* {
  box-sizing: border-box;
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  font-family: "Noto Sans", sans-serif;
  word-break: keep-all;
  scroll-behavior: smooth;
}

body {
  position: relative;
  height: 2000px;
}

ul,
ol,
li {
  list-style-type: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

button,
input,
textarea {
  background-color: inherit;
  border: none;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
  outline: none;
  box-shadow: none;
}

/* nav */

.nav {
  width: 100%;
  background-color: #111;
}

.nav-box {
  position: relative;
  width: 100%;
  max-width: 1800px;
  height: 120px;
  margin: 0 auto;
  background-color: #111;
}

.nav-game-box {
  display: none;
  position: fixed;
  top: 120px;
  width: 100%;
  max-width: 1800px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 30px 100px 0;
  z-index: 5;
  overflow: hidden;
}

.nav-game-box a {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-bottom: 30px;
  padding-right: 50px;
  text-align: center;
}

.nav-game-box a img {
  width: 64px;
}

.nav-list {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 1800px;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  padding: 10px 100px;
  z-index: 5;
  background-color: #111;
}

.nav-list button {
  color: rgba(255, 255, 255, 0.7);
}

.nav-list button:hover {
  color: #fff;
}

.nav-list a {
  color: rgba(255, 255, 255, 0.7);
}

.nav-list a:hover {
  color: #fff;
}

.nav-list i {
  margin-left: 20px;
}

.nav-logo-img {
  width: 150px;
}

.nav-list-phone {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 1800px;
  height: 120px;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  padding: 10px 100px;
  z-index: 5;
  background-color: #111;
  color: rgb(0, 111, 178);
}

.nav-list-phone .nav-menu-bar-list {
  position: absolute;
  top: 100px;
  right: 0;
  display: none;
  width: 50%;
  background-color: #111;
  text-align: center;
}

.nav-menu-bar-list div {
  border-bottom: 1px solid #30272a;
  padding: 10px 0;
}

.nav-menu-bar-list-logo {
  width: 100px;
}

.nav-menu-bar-list-game-bt-title {
  width: 100%;
}

.nav-menu-bar-list-game-bt-title i {
  margin-left: 5px;
}

.nav-menu-bar-list-game-box {
  max-height: 250px;
  overflow: auto;
}

.nav-menu-bar-list-game-box::-webkit-scrollbar {
  width: 5px;
  border-radius: 64px;
}

.nav-menu-bar-list-game-box::-webkit-scrollbar-thumb {
  background-color: #00aeff;
  border-radius: 64px;
}

.nav-menu-bar-list-game-box::-webkit-scrollbar-track {
  background-color: #8a8a8a;
  border-radius: 64px;
}

.nav-menu-bar-list-game {
  display: none;
}

.nav-menu-bar-list-game li {
  padding: 10px 0;
}

.nav-menu-bar-list-game li a img {
  display: block;
  width: 50px;
  margin: 0 auto;
}

/* banner */

.banner {
  width: 100%;
  background-color: #111;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.banner-box {
  position: relative;
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
  overflow: hidden;
}

.banner-list {
  width: 500%;
  transition: all 500ms ease;
}

.banner-list-item {
  position: relative;
  float: left;
  width: 20%;
  height: 514px;
}

.banner-list-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-desc {
  position: absolute;
  left: 120px;
  bottom: 80px;
  color: #fff;
}

.banner-desc img {
  width: 260px;
}

.banner-desc p {
  font-size: 4rem;
  margin-bottom: 24px;
}

.banner-desc-bt {
  font-size: 1rem;
  color: #fff;
  background-color: #006fb2;
  padding: 10px 50px;
  border: 1px solid #00aeff;
  transition: all 250ms ease;
}

.banner-desc-bt:hover {
  background-color: #00aeff;
}

.banner .control {
  color: #006fb2;
}

.banner .control:hover {
  color: #00aeff;
}

.banner-before-bt {
  position: absolute;
  top: 50%;
  left: 30px;
  color: #fff;
  font-size: 2rem;
  transform: translateY(-50%);
}

.banner-after-bt {
  position: absolute;
  top: 50%;
  right: 30px;
  color: #fff;
  font-size: 2rem;
  transform: translateY(-50%);
}

.banner-now-bt {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 120px;
  bottom: 20px;
  width: 166px;
}

.banner-now-bt-list {
  width: 30px;
  height: 30px;
  color: #fff;
  background-color: #006fb2;
}

.banner-now-bt-list:nth-child(1) {
  background-color: #00aeff;
}

/* game */

.game {
  width: 100%;
  background-image: url(./assets/game-back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.game-box {
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
}

.game-title {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  text-align: center;
  padding: 54px 0;
  color: #fff;
}

.game-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1600px;
  padding: 0 54px 32px;
  margin: 0 auto;
}

.game-filter-bt {
  background-color: rgb(0, 111, 178);
  color: #fff;
  padding: 10px 20px;
}

.game-filter-bt:nth-child(1) {
  background-color: rgb(0, 174, 255);
}

.game-filter-bt:hover {
  background-color: rgb(0, 174, 255);
}

.game-buy {
  color: rgb(0, 174, 255);
}

.game-buy:hover {
  color: #fff;
}

.container-fluid {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 56px 56px;
}

.col-6 {
  position: relative;
  height: 500px;
  overflow: hidden;
}

.col-6.hidden {
  display: none;
}

.col-6.show {
  display: block;
}

.col-6 a img {
  width: 360px;
  height: 480px;
  object-fit: cover;
  z-index: -1;
}

.col-6:hover .game-hover-info {
  top: 0;
}

.game-hover-info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 360px;
  height: 480px;
  font-size: 12px;
  position: absolute;
  top: -100%;
  left: 12px;
  z-index: 2;
  padding-right: 0 24px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 500ms ease;
}

/* battleNet */

.battleNet {
  width: 100%;
  background-image: url(./assets/battlenet-back.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border-top: 0.1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.battleNet-box {
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
}

.battleNet-innerbox {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 56px;
}

.battleNet-img {
  height: 332px;
}

.battleNet-p {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  right: 0;
  width: 590px;
  height: 332px;
  color: #fff;
}

.battleNet-p h1 {
  font-size: 4rem;
}

.battleNet-p ul {
  font-size: 2rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8);
}

.battleNet-p ul .fas {
  margin-right: 20px;
}

.battleNet-link {
  font-size: 1.5rem;
}

.battleNet-link a:nth-child(1) {
  margin-right: 30px;
}

.battleNet-link a .fab {
  margin-left: 10px;
}

.battleNet-mark {
  height: 312px;
  position: absolute;
  left: 50%;
  transform: translateX(-40%);
  opacity: 0.5;
}

/* recruitment */

.recruitment {
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  background: linear-gradient(#30272a, #002650);
}

.recruitment-box {
  position: relative;
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
  z-index: 5;
}

.recruitment-box img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 1s ease;
  z-index: -1;
}

.recruitment-p {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 56px;
  color: #fff;
}

.recruitment-p h1 {
  font-size: 4rem;
}

.recruitment-p p {
  font-size: 2rem;
}

.recruitment-p button {
  font-size: 1.5rem;
  background-color: #006fb2;
  padding: 10px 50px;
  border: 1px solid #00aeff;
  transition: all 250ms ease;
}

.recruitment-p button:hover {
  background-color: #00aeff;
  color: #111;
}

/* footer */

.footer {
  width: 100%;
  background-color: #002650;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-box {
  width: 100%;
  max-width: 1800px;
  padding: 56px;
  margin: 0 auto;
  color: rgba(255, 255, 255, 0.7);
}

.footer-info-box {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 56px;
}

.footer-info-logo {
  height: 80px;
}

.footer-detail-info {
  display: flex;
  padding-top: 10px;
  margin: 0;
}

.footer-detail-info li {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  padding: 0 20px;
  border-right: 1px solid rgba(255, 255, 255, 0.8);
}

.footer-detail-info li a {
  color: rgba(255, 255, 255, 0.7);
}

.footer-detail-info li a:hover {
  color: #fff;
}

.footer-detail-info li:last-child {
  border: none;
}

.footer-detail-info-p-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#footer-lang-bt {
  position: relative;
}

#footer-lang-bt .fa-globe {
  margin-right: 5px;
}

#footer-lang-bt .fa-sort-amount-down {
  margin-left: 10px;
}

.footer-lang-box {
  display: none;
  position: absolute;
  top: 40px;
  left: -300px;
  padding: 0 10px;
  width: 500px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}

.footer-lang-box a {
  white-space: nowrap;
  padding: 0 10px;
}

.footer-detail-info-p {
  display: flex;
  white-space: nowrap;
  padding: 10px 20px;
  margin: 0;
}

.footer-detail-info-p img {
  margin: 0 5px 0 10px;
}

.footer-detail-info-p-box button {
  padding: 0 20px;
}

.footer-battlenet-logo {
  width: 20px;
}

.footer-comp-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1600px;
  font-size: 0.8rem;
  margin: 0 auto;
  padding: 56px;
}

.footer-comp-detail-info {
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
}

.footer-comp-detail-info span {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-comp-detail-info li {
  padding: 0 20px;
  border-right: 1px solid rgba(255, 255, 255, 0.8);
}

.footer-comp-detail-info li a {
  color: rgba(255, 255, 255, 0.7);
}

.footer-comp-detail-info li a:hover {
  color: #fff;
}

.footer-comp-detail-info li:nth-child(1) {
  padding-left: 0;
}

.footer-comp-detail-info li:last-child {
  border: none;
}

@media screen and (max-width: 1600px) {
  /* nav */

  .nav-list {
    font-size: 1.2rem;
  }

  /* banner */

  .banner-desc p {
    font-size: 3.2rem;
  }

  .banner-desc-bt {
    font-size: 0.8rem;
  }

  .banner-before-bt {
    font-size: 1.6rem;
  }

  .banner-after-bt {
    font-size: 1.6rem;
  }

  /* game */

  .col-6 {
    position: relative;
    height: 400px;
    overflow: hidden;
  }

  .col-6 a img {
    width: 288px;
    height: 384px;
  }

  .col-6:hover .game-hover-info {
    top: 0;
  }

  .game-hover-info {
    width: 288px;
    height: 384px;
    font-size: 12px;
  }

  /* battleNet */

  .battleNet-img {
    height: 256px;
  }

  .battleNet-mark {
    height: 250px;
    position: absolute;
    left: 50%;
    transform: translateX(-42%);
    opacity: 0.5;
  }

  .battleNet-p {
    width: 472px;
    height: 266px;
  }

  .battleNet-p h1 {
    font-size: 3.2rem;
  }

  .battleNet-p ul {
    font-size: 1.6rem;
  }

  .battleNet-link {
    font-size: 1.2rem;
  }

  /* recruitment */

  .recruitment-p h1 {
    font-size: 3.2rem;
  }

  .recruitment-p p {
    font-size: 1.6rem;
  }

  .recruitment-p button {
    font-size: 0.8rem;
  }

  /* footer */

  .footer-info-box {
    font-size: 0.8rem;
  }

  .footer-comp-info {
    flex-direction: column;
    align-items: center;
    padding: 0 56px;
    text-align: center;
  }
}

@media screen and (max-width: 1200px) {
  /* nav */

  .nav-box {
    height: 100px;
  }

  .nav-game-box {
    display: none;
    position: fixed;
    top: 100px;
    width: 100%;
    max-width: 1800px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 30px;
    z-index: 5;
    overflow: hidden;
  }

  .nav-game-box a {
    font-size: 0.8rem;
    height: 50px;
    margin-bottom: 20px;
    padding-right: 20px;
  }

  .nav-game-box a img {
    width: 30px;
  }

  .nav-list {
    height: 100px;
    font-size: 1rem;
    padding: 30px;
  }

  .nav-list i {
    margin-left: 10px;
  }

  .nav-logo-img {
    width: 100px;
  }

  /* banner */

  .banner-list-item {
    position: relative;
    float: left;
    width: 20%;
    height: 400px;
  }

  .banner-desc img {
    width: 150px;
  }

  .banner-desc p {
    font-size: 2.5rem;
    margin-bottom: 24px;
  }

  .banner-desc-bt {
    font-size: 0.8rem;
    padding: 8px 42px;
  }

  .banner-before-bt {
    font-size: 1.6rem;
  }

  .banner-after-bt {
    font-size: 1.6rem;
  }

  .banner-now-bt {
    font-size: 0.8rem;
    width: 137px;
  }

  /* game */

  .game-title {
    padding: 30px 0;
  }

  .game-filter {
    display: flex;
    flex-direction: column;
    padding: 0 30px 30px;
  }

  .game-filter-bt {
    background-color: rgb(0, 111, 178);
    color: #fff;
    padding: 10px 20px;
    margin-bottom: 20px;
  }

  .container-fluid {
    padding: 0 30px;
  }

  .col-6 {
    height: 460px;
  }

  .col-6.show {
    display: block;
  }

  .col-6 a img {
    width: 100%;
    height: calc(100% - 30px);
  }

  .col-6:hover .game-hover-info {
    top: 0;
  }

  .game-hover-info {
    width: calc(100% - 24px);
    height: calc(100% - 30px);
    font-size: 12px;
  }

  /* battleNet */

  .battleNet-innerbox {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
  }

  .battleNet-img {
    width: 100%;
    height: auto;
  }

  .battleNet-p {
    position: relative;
    right: none;
    width: 590px;
    height: 250px;
    text-align: center;
    padding: 10px 0;
  }

  .battleNet-p h1 {
    font-size: 2.5rem;
  }

  .battleNet-p ul {
    font-size: 1.6rem;
  }

  .battleNet-link {
    font-size: 1.2rem;
  }

  .battleNet-mark {
    display: none;
  }

  /* recruitment */

  .recruitment-p {
    padding: 30px;
  }

  .recruitment-p h1 {
    font-size: 2.5rem;
  }

  .recruitment-p p {
    font-size: 1.6rem;
  }

  .recruitment-p button {
    font-size: 1.2rem;
  }

  /* footer */

  .footer-box {
    padding: 30px;
  }

  .footer-info-box {
    align-items: center;
    padding: 0 30px;
  }

  .footer-info-logo {
    height: 50px;
  }

  .footer-detail-info {
    padding-top: 10px;
  }
  .footer-detail-info li {
    padding: 0 10px;
  }

  .footer-info-box {
    font-size: 0.8rem;
  }

  .footer-comp-info {
    font-size: 0.8rem;
    flex-direction: column;
    align-items: center;
    padding: 0 30px;
    text-align: center;
  }

  .footer-lang-box {
    top: 20px;
    left: -390px;
    background-color: rgba(0, 0, 0, 1);
  }
}

@media screen and (max-width: 768px) {
  .nav-list {
    display: none;
  }

  .nav-list-phone {
    display: flex;
    justify-content: space-between;
    height: 100px;
    font-size: 1rem;
    padding: 10px;
  }

  .nav-menu-bar {
    color: rgb(0, 111, 178);
  }

  .nav-menu-bar:active {
    color: rgb(0, 174, 255);
  }

  /* banner */

  .banner-list-item {
    height: 300px;
  }

  .banner-desc {
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    bottom: 80px;
  }

  .banner-desc img {
    width: 100px;
  }

  .banner-desc p {
    font-size: 1.2rem;
  }

  .banner-desc-bt {
    font-size: 0.5rem;
  }

  .banner-before-bt {
    font-size: 1rem;
  }

  .banner-after-bt {
    font-size: 1rem;
  }

  .banner-now-bt {
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.5rem;
    width: 127px;
  }

  /* game */

  .game-title {
    padding: 10px 0;
  }

  .game-filter {
    display: flex;
    flex-direction: column;
    padding: 0 10px 10px;
  }

  .game-filter-box {
    display: none;
    justify-content: center;
    align-items: center;
  }

  .game-filter-bt {
    padding: 5px 10px;
    margin-bottom: 10px;
  }

  .container-fluid {
    padding: 0 10px;
  }

  .col-6 {
    height: 350px;
  }

  .col-6 a img {
    width: 100%;
    height: calc(100% - 10px);
  }

  .game-hover-info {
    width: calc(100% - 24px);
    height: calc(100% - 10px);
    font-size: 0.5rem;
  }

  /* battleNet */

  .battleNet-innerbox {
    padding: 10px;
  }

  .battleNet-p {
    position: relative;
    right: none;
    width: 100%;
    height: 160px;
    text-align: center;
    padding: 10px 0;
  }

  .battleNet-p h1 {
    font-size: 1.5rem;
  }

  .battleNet-p ul {
    font-size: 0.8rem;
  }

  .battleNet-link {
    font-size: 0.5rem;
  }

  /* recruitment */

  .recruitment-p {
    padding: 10px;
    text-align: center;
  }

  .recruitment-p h1 {
    font-size: 1.5rem;
  }

  .recruitment-p p {
    font-size: 0.8rem;
  }

  .recruitment-p button {
    font-size: 0.5rem;
  }

  /* footer */

  .footer-box {
    padding: 10px;
  }

  .footer-info-box {
    padding: 0;
  }

  .footer-info-logo {
    height: 30px;
  }

  .footer-detail-info {
    display: none;
  }

  .footer-detail-info-p {
    align-items: center;
    padding: 10px 10px 10px 0;
  }

  .footer-detail-info li {
    padding: 0 10px;
  }

  .footer-info-box {
    flex-direction: column;
    font-size: 0.5rem;
  }

  .footer-comp-detail-info {
    display: none;
  }
  #footer-lang-bt {
    display: none;
  }
  .footer-comp-info {
    font-size: 0.2rem;
    padding: 0;
  }
}
