* {
  box-sizing: border-box;
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  font-family: "Noto Sans", sans-serif;
  word-break: keep-all;
  scroll-behavior: smooth;
}

body {
  position: relative;
  height: 2000px;
}

ul,
ol,
li {
  list-style-type: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

button,
input,
textarea {
  background-color: inherit;
  border: none;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
  outline: none;
  box-shadow: none;
}

/* nav */

.nav {
  width: 100%;
}

.nav-box {
  position: relative;
  width: 100%;
  max-width: 1800px;
  height: 120px;
  margin: 0 auto;
  background-color: #111;
}

.nav-list {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 1800px;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  padding: 10px 100px;
  z-index: 5;
  background-color: #111;
}

.nav-list a {
  color: rgba(255, 255, 255, 0.7);
}

.nav-list a:hover {
  color: #fff;
}

.nav-logo-img {
  width: 150px;
}

/* banner */

.banner {
  width: 100%;
}

.banner-box {
  position: relative;
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
  overflow: hidden;
}

.banner-list {
  width: 500%;
  transition: all 500ms ease;
}

.banner-list-item {
  position: relative;
  float: left;
  width: 20%;
  height: 514px;
}

.banner-list-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-desc {
  position: absolute;
  left: 120px;
  bottom: 80px;
  color: #fff;
}

.banner-desc img {
  width: 260px;
}

.banner-desc p {
  font-size: 4rem;
  margin-bottom: 24px;
}

.banner-desc-bt {
  font-size: 1rem;
  color: #fff;
  background-color: #006fb2;
  padding: 10px 50px;
  border: 1px solid #00aeff;
  transition: all 250ms ease;
}

.banner-desc-bt:hover {
  background-color: #00aeff;
}

.banner .control {
  color: #006fb2;
}

.banner .control:hover {
  color: #00aeff;
}

.banner-before-bt {
  position: absolute;
  top: 50%;
  left: 30px;
  color: #fff;
  font-size: 2rem;
  transform: translateY(-50%);
}

.banner-after-bt {
  position: absolute;
  top: 50%;
  right: 30px;
  color: #fff;
  font-size: 2rem;
  transform: translateY(-50%);
}

.banner-now-bt {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 120px;
  bottom: 20px;
  width: 166px;
}

.banner-now-bt-list {
  width: 30px;
  height: 30px;
  color: #fff;
  background-color: #006fb2;
}

.banner-now-bt-list:nth-child(0) {
  background-color: #00aeff;
}

/* game */

.game {
  width: 100%;
}

.game-box {
  width: 100%;
  max-width: 1800px;
  background-image: url(./assets/game-back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}

.container-fluid {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 56px;
}

.col-6 {
  height: 500px;
}

.col-6:nth-child(1) {
  background-image: url(./assets/game-dia3-img.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.col-6:nth-child(2) {
  background-image: url(./assets/game-dia4-img.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.col-6:nth-child(3) {
  background-image: url(./assets/game-diaIM-img.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.col-6:nth-child(4) {
  background-image: url(./assets/game-diaR-img.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.col-6:nth-child(5) {
  background-image: url(./assets/game-HOS-img.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.col-6:nth-child(6) {
  background-image: url(./assets/game-HS-img.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.col-6:nth-child(7) {
  background-image: url(./assets/game-over1-img.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.col-6:nth-child(8) {
  background-image: url(./assets/game-over2-img.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.col-6:nth-child(9) {
  background-image: url(./assets/game-SC1-img.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.col-6:nth-child(10) {
  background-image: url(./assets/game-SC2-img.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.col-6:nth-child(11) {
  background-image: url(./assets/game-WC3-img.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.col-6:nth-child(12) {
  background-image: url(./assets/game-WOW-img.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.col-6:nth-child(13) {
  background-image: url(./assets/game-ACC-img.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* battleNet */

.battleNet {
  width: 100%;
}

.battleNet-box {
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
  background-image: url(./assets/battlenet-back.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.battleNet-innerbox {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 56px;
}

.battleNet-img {
  height: 332px;
}

.battleNet-p {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  right: 0;
  width: 590px;
  height: 332px;
  color: #fff;
}

.battleNet-p h1 {
  font-size: 4rem;
}

.battleNet-p ul {
  font-size: 2rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8);
}

.battleNet-p ul .fas {
  margin-right: 20px;
}

.battleNet-link {
  font-size: 1.5rem;
}

.battleNet-link a:nth-child(1) {
  margin-right: 30px;
}

.battleNet-link a .fab {
  margin-left: 10px;
}

.battleNet-mark {
  height: 312px;
  position: absolute;
  left: 50%;
  transform: translateX(-40%);
  opacity: 0.5;
}

/* recruitment */

.recruitment {
  width: 100%;
}

.recruitment-box {
  position: relative;
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
}

.recruitment-box img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.recruitment-p {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 56px;
  color: #fff;
}

.recruitment-p h1 {
  font-size: 4rem;
}

.recruitment-p p {
  font-size: 2rem;
}

.recruitment-p button {
  font-size: 1.5rem;
}

/* footer */

.footer {
  width: 100%;
}

.footer-box {
  width: 100%;
  max-width: 1800px;
  padding: 56px;
  margin: 0 auto;
  color: rgba(255, 255, 255, 0.7);
  background-color: #002650;
}

.footer-info-box {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 56px;
}

.footer-info-logo {
  height: 80px;
}

.footer-detail-info {
  display: flex;
  padding-top: 10px;
  margin: 0;
}

.footer-detail-info li {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  padding: 0 20px;
  border-right: 1px solid rgba(255, 255, 255, 0.8);
}

.footer-detail-info li a {
  color: rgba(255, 255, 255, 0.7);
}

.footer-detail-info li a:hover {
  color: #fff;
}

.footer-detail-info li:last-child {
  border: none;
}

.footer-detail-info-p-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-detail-info-p {
  display: flex;
  white-space: nowrap;
  padding: 10px 20px;
  margin: 0;
}

.footer-detail-info-p-box button {
  padding: 0 20px;
}

.footer-battlenet-logo {
  width: 20px;
}

.footer-comp-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 56px;
}

.footer-comp-detail-info {
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
}

.footer-comp-detail-info span {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-comp-detail-info li {
  padding: 0 20px;
  border-right: 1px solid rgba(255, 255, 255, 0.8);
}

.footer-comp-detail-info li a {
  color: rgba(255, 255, 255, 0.7);
}

.footer-comp-detail-info li a:hover {
  color: #fff;
}

.footer-comp-detail-info li:nth-child(1) {
  padding-left: 0;
}

.footer-comp-detail-info li:last-child {
  border: none;
}
